* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ff7e06;
  --color-hover: #ae5400;
  --color-active: #222222;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: regular;
  color: black;
}

#main {
  min-width: 50%;
  height: auto;
  /* background-color: red; */
}

header {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  padding: 0px 20px;
  align-items: center;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(242, 242, 242);
  box-shadow: 2px 4px rgb(229, 226, 226);
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin-top: 600px;
  margin-left: 20px;
}
#navbar {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  height: 40px;
  text-decoration: none;
  font-size: 16px;
}

#stared_item a {
  background-color: var(--bg-color);
  color: black;
  cursor: default;
}

#item a {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
}
#item a:hover {
  background-color: #646161;
  color: white;
  transition: color 0.5s ease-out;
}

#item a:active {
  background-color: #383636;
}

#cv a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
  gap: 10px;
}

#cv svg {
  margin: 4px;
}

#cv path {
  fill: black;
}

#cv a:hover,
#cv a:hover path {
  fill: #ffffff;
  background-color: #425693;
  color: white;
  transition: color 0.5s ease-out;
}

svg {
  width: 30px;
  height: 30px;
}

rect {
  fill: var(--bg-color);
}

rect:hover {
  fill: var(--color-hover);
  cursor: pointer;
}

rect:active {
  fill: var(--color-active);
}

#dropdown_hamburguer,
#dropdown-content {
  display: none;
}

#dropdown-content a:hover {
  background-color: #f1f1f1;
}

#dropdown_content {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

h3 {
  padding-left: 10px;
}

ul,
ol {
  padding-left: 40px;
}

th,
td {
  padding-left: 20px;
}
img,
h2,
p,
h3 {
  margin: 20px;
}



.certifications {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contato_celular {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 25%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  box-shadow: 3px 3px gray;
  border-radius: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#icons_footer {
  display: flex;
  height: 40px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #ede9e5;
}

#icons_footer svg {
  display: flex;
}

#div_direitos_reservados {
  background-color: var(--bg-color);
}

/******************************* FORMULARIO *******************************/


#inicio {
  text-align: center;
}

#inicio label {
  text-align: left;
}

#titulo_contato {
  margin-top: 300px;
}

#mapa {
  height: 20%;
}

#topoformulario {
  display: flex;
  gap: 100px;
  align-items: center;
  margin-top: 250px;
}

#topoformulario svg {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #f8f2f2;
  border-radius: 2px;
}

form:focus-within {
  background: #eae9e8;
  color: black;
  box-shadow: 10px 10px #d6d6d6;
}

label {
  display: block;
  font-size: 20px;
  width: 8%;
}

input {
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 12px
}

textarea {
  resize: none;
}

button {
  background-color: rgb(255, 126, 6);
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  color: white;
  transition: color 0.5s ease-out;
}

button:hover {
  background-color: rgb(174, 84, 0);
  cursor: pointer;
  transition: color 0.5s ease-out;
}

button:active {
  background-color: #222222;
  color: white;
}

::placeholder {
  font-style: italic;
}

#irparaotopo {
  position: relative;
  left: 25%;
  bottom: 5%;
  width: 50px;
  height: 50px;
}

label,
input,
button,
textarea,
iframe
{
  margin: 10px;

}
/******************************* MOBILE *******************************/

@media only screen and (max-width: 768px) {
  header {
    gap: 70%;
    padding-top: 16px;
  }

  #dropdown_hamburguer {
    display: inline-block;
  }

  #dropdown-content {
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  #dropdown_hamburguer:hover #dropdown-content {
    display: block;
    justify-content: center;
    color: black;
    text-decoration: none;
    position: fixed;
    left: 80%;
    top: 60%;
  }

  #dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #dropdown_hamburguer:hover .stroke1 {
    transition: 5s ease;
    animation: crossAnimation1 3s forwards;
  }

  #dropdown_hamburguer:hover .stroke2 {
    transition: 5s ease;
    animation: crossAnimation2 3s forwards;
  }

  #dropdown_hamburguer:hover .stroke3 {
    transition: 5s ease;
    animation: crossAnimation3 3s forwards;
  }

  @keyframes crossAnimation1 {
    0% {
      d: path("M19 3.5H0V0.5H19V3.5ZM19");
      rotate: 0deg;
    }
    100% {
      d: path("M19 3.5H0V0.5H19V3.5ZM19");
      rotate: 50deg;
    }
  }

  @keyframes crossAnimation2 {
    0% {
      d: path("M19 12.5H0V9.5H19V12.5ZM0.5Z");
      rotate: 0deg;
    }
    100% {
      d: path("M19 12.5H0V9.5H19V12.5ZM0.5Z");
      rotate: 135turn;
    }
  }

  @keyframes crossAnimation3 {
    0% {
      d: path("M19 20.5H19V17.5H0V20.5Z");
      rotate: 0deg;
    }
    100% {
      d: path("M19 20.5H19V17.5H0V20.5Z");
      transform: rotate(-0.13turn);
    }
  }
h1 {
  margin-top: 1000px;
}
  #navbar {
    display: none;
  }
}